---
import Layout from '../layouts/Layout.astro';
import { type CollectionEntry } from 'astro:content';

interface Props {
  entry: CollectionEntry<'pages'>;
}

const { entry } = Astro.props;
const { Content } = await entry.render();

const { title, description, thumbnail, image } = entry.data;
const visual = thumbnail || image;
---

<Layout title={title} description={description}>
  <article class={`post-content ${visual ? '' : 'no-image'}`}>
    {visual && (
      <div class="post-content-image">
        <img src={visual} class="kg-image" alt={title} />
      </div>
    )}

    <div class="post-content-body">
      <Content />
    </div>
  </article>
</Layout>
