---
import BaseLayout from '../layouts/BaseLayout.astro';
import PostCard from '../components/PostCard.astro';
import { getCollection } from 'astro:content';

const posts = (await getCollection('posts'))
  .filter(post => !post.data.draft)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BaseLayout title="'Particle Bunni'">
  <div class="index-content framed">
    <h1 id="We are Particle Bunni">We are Particle Bunni</h1>
    <p>Inspired by ritual sound practices, particle physics, and post-industrial dreamscapes, Particle Bunni transforms stillness into signal — silence into texture.</p>

    <img src="/particle-bunni-banner-1.png" alt="Particle Bunni Banner" style="max-width: 100%; height: auto;" />
  </div>
  
  <div class="posts">
    {posts.slice(0, 6).map((post) => <PostCard post={post} />)}
  </div>

  <div class="see-all">
    <a href="/posts/">See all posts →</a>
  </div>
</BaseLayout>